<h2>Hello boss how are you doing today?</h2>

<% if @projects.any? %>
<h2>Projects</h2>
  <table class="table table-striped"> 
  <thead>
    <tr>
      <th scope="col">#</div>
      <th scope="col">title</div>
      <th scope="col">Volunteers</div>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><a class="btn btn-dark" href="projects/<%= project.id %>"><%= project.id %></td>
      <td><%= project.title %></td>
      <% if project.volunteers.any? %>
        <td><%= project.volunteers.to_s %></td>
      <% else %>
        <td>N/a</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% else %>
<P>No current Projects</p>
<% end %>

  <form action="/projects" method="post">
    <div class="form-group">
      <label for="project">Enter project title</label>
      <input id="project" name="title" class="form-control" type="info">
    </div>
    <button type="submit" class="btn btn-danger">Add Project</button>
  </form>

<br><a href="/projects" class="btn btn-info">Projects</a>