<h1>Projects</h1>

<% if @projects.any? %>

  <table class="table table-striped"> 
  <thead>
    <tr>
      <th scope="col">#</div>
      <th scope="col">title</div>
      <th scope="col">Volunteers</div>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><a class="btn btn-dark" href="/projects/<%= project.id %>"><%= project.id %></td>
      <td><%= project.title %></td>
      <% if project.volunteers.any? %>
        <td><%= project.volunteer_list %></td>
      <% else %>
        <td>N/a</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<% else %>
<hr>
<P>No current Projects</p>
<% end %>

  <form action="/projects" method="post">
    <div class="form-group">
      <label for="project">Enter project title</label>
      <input id="project" name="title" class="form-control" type="info" required>
    </div>
    <button type="submit" class="btn btn-success">Add Project</button>
  </form>

<br><a href="/volunteers" class="btn btn-info">volunteers</a>